@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: rgb(213, 192, 219);
    text-align: center;
    font-family: "Press Start 2P", system-ui;
}

